name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}.${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'keewis'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
          persist-credentials: false

      - uses: xarray-contrib/ci-trigger@10cd2bfec3484946a4058a421ddf9cfad101e715 # v1.2.1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    needs: detect-ci-trigger
    if: |
      needs.detect-ci-trigger.outputs.triggered == 'false'
      && !contains(github.event.pull_request.labels.*.name, 'skip-ci')

    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
          - "macos-latest"
        python-version:
          - "3.11"
          - "3.14"

    env:
      FORCE_COLOR: 3

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      # - name: Install Rust
      #   uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # 1.0
      #   with:
      #     toolchain: stable

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # 2.0.7
        with:
          environment-name: rust-tests
          environment-file: ci/requirements/environment-rust.yaml
          cache-environment: true
          cache-environment-key: "${{runner.os}}-${{runner.arch}}-rust-py${{ matrix.python-version }}-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"
          create-args: >-
            python=${{ matrix.python-version }}

      # - name: Create rust cache
      #   uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # 2.8.1
      #   with:
      #     prefix-key: "py${{ matrix.python-version }}"

      - name: Help finding installed libraries
        run: |
          pushd $CONDA_PREFIX
          if [[ ${{ runner.os }} == "Windows" ]]; then
            export PKG_CONFIG_PATH="$(readlink -f Library/lib/pkgconfig)"
            export LD_LIBRARY_PATH="$(readlink -f Library/lib)"
            export PYO3_PYTHON="$(readlink -f python.exe)"
          else
            export PKG_CONFIG_PATH="$(readlink -f lib/pkgconfig)"
            export LD_LIBRARY_PATH="$(readlink -f lib)"
            export PYO3_PYTHON="$(readlink -f bin/python)"
          fi
          popd

          echo "PKG_CONFIG_PATH=$PKG_CONFIG_PATH" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> $GITHUB_ENV
          echo "PYO3_PYTHON=$PYO3_PYTHON" >> $GITHUB_ENV

      - name: Help the linker on macos
        if: runner.os == 'MacOS'
        run: |
          mkdir -p target/debug/deps
          ln -s $CONDA_PREFIX/lib/*.dylib target/debug/deps/

          pkg-config --libs --cflags proj 'proj >= 9.4.0'
          pkgconf --libs --cflags proj 'proj >= 9.4.0'

      - name: Clean up pkg-config on windows
        if: runner.os == 'Windows'
        run: | # zizmor: ignore[template-injection]
          export PKG_CONFIG_PATH="${{ env.PKG_CONFIG_PATH }}"

          # remove dependency paths
          sed -i '/Requires.private:/d' $(find $PKG_CONFIG_PATH -name "*.pc" -type f)

          # check that this actually works
          pkg-config --libs --cflags proj 'proj >= 9.4.0'

      - name: Run tests
        run: | # zizmor: ignore[template-injection]
          if [[ "${{ runner.os }}" == "Windows" ]]; then
              export PKG_CONFIG_PATH="${{ env.PKG_CONFIG_PATH }}"
              export PYO3_PYTHON="${{ env.PYO3_PYTHON }}"
          fi

          cargo build --tests --keep-going
          cargo test --no-fail-fast

  lint:
    name: Lint
    runs-on: ubuntu-latest

    env:
      FORCE_COLOR: 3

    strategy:
      matrix:
        python-version: ["3.12"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # 1.0
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # 2.0.7
        with:
          environment-name: rust-tests
          environment-file: ci/requirements/environment-rust.yaml
          cache-environment: true
          cache-environment-key: "${{runner.os}}-${{runner.arch}}-rust-${{env.TODAY}}-${{hashFiles(env.CONDA_ENV_FILE)}}"
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Create rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # 2.8.1

      - name: Cargo clippy
        run: |
          cargo clippy --tests -- -D warnings
